@using GestorEstoque.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<GestorEstoqueUsuario> SignInManager
@inject UserManager<GestorEstoqueUsuario> UserManager


<div class="text-end">
    @if (SignInManager.IsSignedIn(User))
    {   
        <div class="row">
            @if(User.IsInRole("Admin")){
                <div class="col">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Administrador</a>
                </div>
            }
            else if(User.IsInRole("Funcionario")){
                <div class="col">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Funcionario</a>
                </div>
            }
            else {
                <div class="col">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                </div>
            }
            <div class="col">
                <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout <i class="bi bi-box-arrow-in-right"></i></a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Register">Cadastre-se</a>
        <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Login">Login </a>
    }

</div>

@*
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>*@
