@model StockManager1.Models.ProdutoEstoque

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>ProdutoEstoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input min="1" asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdMin" class="control-label"></label>
                <input min="1" asp-for="QtdMin" class="form-control" />
                <span asp-validation-for="QtdMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
